<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987758799530-u1tor2gb1lampa054ulsqfakvt05hohk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987758799530-u1tor2gb1lampa054ulsqfakvt05hohk</string>
	<key>API_KEY</key>
	<string>AIzaSyCEhnhVWAP5j58frX_pH-0k7QcmdvxJJWI</string>
	<key>GCM_SENDER_ID</key>
	<string>987758799530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KratiMittal.SwiftUIToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-7d8cd</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-7d8cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987758799530:ios:a6cdb0fce2230be9e5bed3</string>
</dict>
</plist>